@using TravelTripProje.Models.Class
@model List<Yorum>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Blog Listesi</h5>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle mb-0">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 120px;">Yorum ID</th>
                        <th>Kullanıcı</th>
                        <th>Mail</th>
                        <th>Yorum</th>
                        <th>Blog</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                        
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.KullaniciAdi</td>
                            <td>@item.Mail</td>
                            <td>@item.Yorumlar</td>
                            <td>@item.Blog.ID</td>
                            <td>
                                <a href="/Admin/YorumSil/@item.ID" class="btn btn-danger btn-sm ms-1">
                                    Sil
                                </a>

                            </td>
                            <td>

                                <a href="/Admin/YorumGetir/@item.ID" class="btn btn-warning btn-sm">
                                    Güncelle
                                </a>
                            </td>
                            

                        </tr>
                    }
                </tbody>
            </table>
        </div>



        

    </div>

</div>

